@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:wght@300;400;500;600;700&display=swap');

@theme {
  --font-serif: "Instrument Serif", serif;
  --font-sans: "Inter", sans-serif;
  
  --color-cream: #FEFBEA;
  --color-olive: #065F24;
  --color-sage: #E1EDD9;
  --color-honey: #F9D68F;
  --color-paper: #FFFFFF;
}

@layer base {
  body {
    @apply bg-cream text-olive font-sans antialiased;
  }
  
  h1, h2, h3, h4, .font-serif {
    @apply font-serif italic;
  }
}

@layer utilities {
  .card-shadow {
    box-shadow: 0 4px 20px -2px rgba(6, 95, 36, 0.05);
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
